# Database connection string
DATABASE_URI=file:./test.db

# Or use a PG connection string
#DATABASE_URI=postgresql://127.0.0.1:5432/your-database-name

# Used to encrypt JWT tokens
PAYLOAD_SECRET=

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
VERCEL_PROJECT_PRODUCTION_URL=

# Secret used to authenticate cron jobs
CRON_SECRET=

# Used to validate preview requests
PREVIEW_SECRET=

# Cloudfare
S3_BUCKET=
S3_ACCESS_KEY_ID=
S3_SECRET=
S3_ENDPOINT=
S3_REGION=
S3_PUBLIC_URL=

# Nodemailer (development)
NODEMAILER_USER=
NODEMAILER_PASS=
NODEMAILER_NAME=
NODEMAILER_SUPPORT_EMAIL=
 
# Resend (production)
RESEND_API_KEY=
RESEND_DEFAULT_USER=
RESEND_DEFAULT_NAME=
RESEND_SUPPORT_EMAIL=
