@import './theme.css';
@config '../../tailwind.config.mjs';

@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);

@import 'tailwindcss/utilities.css' layer(utilities);

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  * {
    @apply [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-zinc-100 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-zinc-300 dark:[&::-webkit-scrollbar-track]:bg-zinc-700 dark:[&::-webkit-scrollbar-thumb]:bg-zinc-500;
  }
}

.checkbox-input__input,
.list-controls .list-controls__wrap,
.field-type.email input,
.field-type.password input,
.field-type.text input,
.field-type.textarea textarea,
.field-type.number input,
.field-type.confirm-password input,
.react-select .rs__control,
.date-time-picker .react-datepicker__input-container input,
.where-builder,
.shimmer-effect,
.upload-field-card,
.popup-button,
.popup-button--default,
.popup-button--size-medium,
.relationship-add-new__add-button,
.doc-drawer__toggler,
.collapsible__toggle-wrap,
.dropzone,
.live-preview-toggler,
.preview-btn,
.popup__content,
.doc-controls__dots,
.collection-edit__auth,
.multi-value,
.draggable,
.rs__multi-value,
.css-x2yrli-multiValue,
.popup-button-list__button,
.search-filter,
.search-filter__input,
.list-controls__search,
.list-controls__wrap,
.card,
.table-wrap,
.table,
.condition-value-text,
.block-search__input,
.thumbnail-card,
.file-field__filename,
table {
  @apply rounded-[var(--radius-lg)];
}

.table {
  @apply border border-zinc-100 dark:border-zinc-800 w-full;
}

.table-wrap {
  @apply overflow-auto w-full h-auto;
}

.search-filter__input {
  @apply rounded-[var(--radius-xl)];
}

.relationship__wrap {
  @apply gap-[0.5rem];
}

.btn--style-primary,
.btn--disabled,
.btn--withPopup {
  @apply gap-[0.2rem];
}

.collapsible--style-default {
  @apply border-0;
}

.icon--check {
  @apply w-[1.2rem] h-[1.2rem];
}

.checkbox-input__input {
  @apply flex items-center justify-center;
}

.rs__value-container.rs__value-container--is-multi.rs__value-container--has-value.css-pl07w5 {
  @apply gap-[0.5rem];
}

.btn {
  @apply rounded-[var(--radius-xl)] text-[1rem] font-[500] transition-[all_0.2s_ease-in-out] cursor-pointer border-none whitespace-nowrap outline-none;
}

.btn--size-small {
  @apply bg-zinc-900 text-zinc-100 dark:bg-zinc-100 dark:text-zinc-900;

  &:hover {
    @apply bg-zinc-800 dark:bg-zinc-200;
  }
}

.pill {
  @apply rounded-[var(--radius-xl)];
}

.pill-selector {
  @apply rounded-[var(--radius-xl)];
}

.login__brand {
  @apply mb-0;
}

.step-nav__home {
  @apply size-[35px];
}

.app-header__content {
  @apply mb-[1rem];
}

.hamburger {
  @apply rounded-[var(--radius)];
}

.nav__wrap {
  @apply py-4;
}

@media (max-width: 768px) {
  .nav__wrap {
    @apply py-2;
  }
}

.toolbar-popup__dropdown-item {
  @apply my-0.5;
}

.custom-view-description {
  @apply py-2;
}

.tabs-field__tabs-wrap {
  @apply my-4;
}

.card {
  @apply bg-primary text-primary-foreground hover:shadow border border-zinc-200 dark:border-zinc-800;
}

.card__title {
  @apply text-base md:text-lg lg:text-xl font-semibold;
}

.hamburger {
  @apply shadow-none border border-zinc-200 dark:border-zinc-800 size-fit;
}

.nav__wrap {
  @apply pt-0;
}

.field-type.text.container {
  @apply px-0 mx-0 min-w-full;
}

.numberInput {
  @apply w-full;
}

.PhoneInputCountry {
  @apply mr-2;
}

.app-header__account {
  @apply no-underline;
}

.doc-drawer__toggler {
  @apply px-1.5;
}

.nav__controls {
  @apply w-full m-0;
}

.\[\&_\.recharts-cartesian-axis-tick_text\]\:fill-muted-foreground
  .recharts-cartesian-axis-tick
  text {
  @apply fill-zinc-500;
}

.bfColourTextFieldWrapper {
  .container {
    position: relative;

    .field-type input {
      padding-left: 4rem;
    }
  }

  .colourBox {
    position: absolute;
    left: 0.75rem;
    top: calc(50% - 1.25rem);
    display: flex;
    width: 2.5rem;
    border-radius: 5px;
    height: 2.5rem;
    pointer-events: none;
    border: 1px solid var(--theme-elevation-150);
  }
}
