@import 'tailwindcss';
@config '../../../tailwind.config.mjs';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --background: 223.8136 -172.5242% 100%;
  --foreground: 223.8136 0% 3.9388%;
  --card: 223.8136 -172.5242% 100%;
  --card-foreground: 223.8136 0% 3.9388%;
  --popover: 223.8136 -172.5242% 100%;
  --popover-foreground: 223.8136 0% 3.9388%;
  --primary: 356.946 95.8988% 57.7229%;
  --primary-foreground: 223.8136 0.0004% 98.0256%;
  --secondary: 223.8136 0.0002% 96.0587%;
  --secondary-foreground: 223.8136 0% 9.0527%;
  --muted: 223.8136 0.0002% 96.0587%;
  --muted-foreground: 223.8136 0% 45.1519%;
  --accent: 223.8136 0.0002% 96.0587%;
  --accent-foreground: 223.8136 0% 9.0527%;
  --destructive: 351.7303 123.6748% 40.5257%;
  --destructive-foreground: 223.8136 -172.5242% 100%;
  --border: 223.8136 0.0001% 89.8161%;
  --input: 223.8136 0.0001% 89.8161%;
  --ring: 223.8136 0% 63.0163%;
  --chart-1: 356.946 95.8988% 57.7229%;
  --chart-2: 29.2041 138.8742% 42.6446%;
  --chart-3: 272.1085 107.7718% 65.1513%;
  --chart-4: 78.9936 169.6671% 30.034%;
  --chart-5: 187.4739 173.4032% 31.358%;
  --sidebar: 223.8136 0.0004% 98.0256%;
  --sidebar-foreground: 223.8136 0% 3.9388%;
  --sidebar-primary: 223.8136 0% 9.0527%;
  --sidebar-primary-foreground: 223.8136 0.0004% 98.0256%;
  --sidebar-accent: 223.8136 0.0002% 96.0587%;
  --sidebar-accent-foreground: 223.8136 0% 9.0527%;
  --sidebar-border: 223.8136 0.0001% 89.8161%;
  --sidebar-ring: 223.8136 0% 63.0163%;
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --success: 196 52% 74%;
  --warning: 34 89% 85%;
  --error: 10 100% 86%;
}

[data-theme='dark'] {
  --background: 223.8136 0% 3.9388%;
  --foreground: 223.8136 0.0004% 98.0256%;
  --card: 223.8136 0% 9.0527%;
  --card-foreground: 223.8136 0.0004% 98.0256%;
  --popover: 223.8136 0% 14.9382%;
  --popover-foreground: 223.8136 0.0004% 98.0256%;
  --primary: 356.946 95.8988% 57.7229%;
  --primary-foreground: 223.8136 0.0004% 98.0256%;
  --secondary: 223.8136 0% 14.9382%;
  --secondary-foreground: 223.8136 0.0004% 98.0256%;
  --muted: 223.8136 0% 14.9382%;
  --muted-foreground: 223.8136 0% 63.0163%;
  --accent: 223.8136 0% 25.0471%;
  --accent-foreground: 223.8136 0.0004% 98.0256%;
  --destructive: 358.7594 101.8439% 69.8357%;
  --destructive-foreground: 223.8136 0.0004% 98.0256%;
  --border: 223.8136 0% 15.5096%;
  --input: 223.8136 0% 20.3885%;
  --ring: 223.8136 0% 45.1519%;
  --chart-1: 356.946 95.8988% 57.7229%;
  --chart-2: 29.2041 138.8742% 42.6446%;
  --chart-3: 272.1085 107.7718% 65.1513%;
  --chart-4: 78.9936 169.6671% 30.034%;
  --chart-5: 187.4739 173.4032% 31.358%;
  --sidebar: 223.8136 0% 9.0527%;
  --sidebar-foreground: 223.8136 0.0004% 98.0256%;
  --sidebar-primary: 225.3451 84.0953% 48.9841%;
  --sidebar-primary-foreground: 223.8136 0.0004% 98.0256%;
  --sidebar-accent: 223.8136 0% 14.9382%;
  --sidebar-accent-foreground: 223.8136 0.0004% 98.0256%;
  --sidebar-border: 223.8136 0% 15.5096%;
  --sidebar-ring: 223.8136 0% 32.1993%;
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --success: 196 100% 14%;
  --warning: 34 51% 25%;
  --error: 10 39% 43%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-screen flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}
